<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h1>Customer Form</h1>
<div class="row">
  <div class="col-md-4">
    <form action="#" th:action="@{/form}" th:object="${customer}" method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" placeholder="Enter Name" id="name" th:field="*{name}"/>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" placeholder="Enter Age" id="age" th:field="*{age}"/>
      </div>
      <div class="form-group">
        <label for="address">Addres:</label>
        <input type="text" class="form-control" placeholder="Enter Address" id="address" th:field="*{address}"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>
    </form>
  </div>
</div>
</body>
</html>
